.pokemons .grass {
    background: url('../imgs/grass.jpg');
    background-size: cover;
}  

.pokemons .bug {
    background: url('../imgs/bug.jpeg');
    background-size:auto;
}

.pokemons .fire {
    background: url('../imgs/fire.jpeg');
    background-size: cover;
}

.pokemons .water {
    background: url('../imgs/water.jpeg');
    background-size: cover;
}

.pokemons .normal {
    background: url('../imgs/normal.jpeg');
    background-size: cover;
}

.pokemons .electric {
    background: url('../imgs/electric.jpeg');
    background-size: cover;
}

.pokemons .ground {
    background: url('../imgs/ground.jpeg');
    background-size: cover;
}

.pokemons .poison {
    background: url('../imgs/poison.jpeg');
    background-size: cover;
}

.pokemons .psychic {
    background: url('../imgs/psychic.jpeg');
    background-size: cover;
}

.pokemons .fighting {
    background: url('../imgs/fighting.jpeg');
    background-size: cover;
}

.pokemons .fairy {
    background: url('../imgs/fairy.jpeg');
    background-size: cover;
}

.pokemons .rock {
    background: url('../imgs/rock.jpeg');
    background-size: cover;
}

.pokemons .ice {
    background: url('../imgs/ice.jpeg');
    background-size: cover;
}

.pokemons .dragon {
    background: url('../imgs/dragon.jpeg');
    background-size: cover;
}

.pokemons .ghost {
    background: url('../imgs/ghost.jpeg');
    background-size: cover;
}

.pokemons .dark {
    background: url('../imgs/dark.jpeg');
    background-size: cover;
}

.pokemons .steel {
    background: url('../imgs/steel.jpeg');
    background-size: cover;
}
